<head>
<meta charset=”UTF-8”>
<meta name=”viewport” content=”width=device-width,
initial-scale=1.0”>
<link rel=”stylesheet” href=”style.css”>
<title>Você decide o futuro da IA</title>
</head>
<title>Você decide o futuro da IA</title>